[Unit]
Description=devterm raspberry pi cm4 fan control daemon

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/temp_fan_daemon.py


[Install]
WantedBy=multi-user.target
